@media screen and (max-width: 768px) {
  .main-navbar {
    width: 100%;
    justify-content: center;
  }

  .main-navbar img {
    margin-left: 0;
  }

  main {
    flex-direction: column;
  }

  .img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    border-right: none;
  }

  .img-logo img {
    width: 150px;
  }

  .login {
    width: auto;
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 538px) {
  .user-content {
    padding-top: 0;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
