* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;
  box-shadow: 1px 1px 10px rgba(165, 165, 168, 0.682);
  border-bottom: 0.5px solid rgb(163, 163, 163);
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.main-navbar img {
  width: 60px;
  margin-left: 20px;
  padding: 3px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  padding: 17rem;
  width: 45%;
}

.img-logo {
  width: 25%;
  border-right: 1px solid black;
}

.img-logo img {
  width: 350px;
}

.input-pass {
  display: flex;
  justify-content: end;
  align-items: center;
}

.user-content {
  display: flex;
  justify-content: flex-end;
}

.fw-light {
  font-size: smaller;
}

.lnr-eye {
  position: absolute;
  margin-right: 15px;
  cursor: pointer;
}

.footer-container {
  border-top: 0.5px solid rgb(163, 163, 163);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
}

.footer-container a {
  color: rgb(102, 98, 98);
  text-decoration: none;
}

.contact {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rights {
  font-size: 14px;
  margin-top: -16px;
}
